/* здесь используйте глобальные переменные */

// Размер экрана

$tablet: 768px;
$desktop: 1440px;
$only-mobile: 767px;

// Цвета

$base-white: #ffffff;
$base-black: #333333;
$light-grey: #f0ebff;
$base-current: #7859cf;

// Шрифт

$montserrat: "Montserrat", arial, sans-serif;
