/* здесь используйте глобальные переменные */

// Размер экрана

$tablet: 768px;
$desktop: 1440px;
$only-mobile: 767px;

// Цвета

$base-white: #ffffff;
$base-black: #333333;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$background-flat-white: #f3ebe1;

// Шрифт

$montserrat: "Montserrat", arial, sans-serif;
