/* здесь используйте глобальные переменные */

// Размер экрана

$tablet: 768px;
$desktop: 1440px;
$only-mobile: 767px;

// Цвета

$base-white: #ffffff;
$base-black: #333333;
$base-grey: #bdbdbd;
$base-primary: #7859cf;
$base-secondary: #f0ebff;
$background-flat-white: #f3ebe1;
$background-lightest-grey: #f8f8f8;
$alt-primary-lighter: #9070ec;
$alt-primary-darker: #593cac;
$alt-light-grey: #e2e2e2;

// Шрифт

$montserrat: "Montserrat", arial, sans-serif;
