.button {
  font-family: $montserrat;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: inline-block;
  padding: 8px 20px;
  background-color: $base-primary;
  color: $base-white;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus {
    background-color: $alt-primary-lighter;
  }

  &:active {
    background-color: $alt-primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }

  &--reset {
    &:hover,
    &:focus,
    &:active,
    &:disabled {
      color: $base-white;
    }
    &:disabled {
      background-color: $alt-light-grey;
    }
  }
}
