.catalog {
  background-color: $background-lightest-grey;
}

.catalog__container {
  padding: 50px 0 44px;
}

.catalog__form {
  margin-top: 20px;
}

.catalog__list {
  margin-top: 43px;
}

.catalog__subtitle.title-secondary {
  margin-top: 5px;
}

