.header {
  background-color: $base-white;
  color: #ffffff;
  padding: 10px 15px;
}

.main-header__container {
  display: grid;
  align-items: center;
  grid-template-columns: 32px 88px 60px 60px 60px;
  grid-template-areas: "logo . account basket nav";

  @media (min-width: $tablet) {
    grid-template-columns: 82px 67px 400px 60px 60px 60px;
    grid-template-areas: "logo . nav . account basket";
  }

  @media (min-width: $tablet + 1px) {
    grid-template-columns: 82px 67px 400px auto 60px 60px;
  }

  @media (min-width: $desktop) {
    grid-template-areas: "logo . nav . account . basket";
    grid-template-columns: 316px 162px 491px 129px 112px 20px 129px;
  }
}

.main-header__logo {
  grid-area: logo;
  display: flex;
  column-gap: 20px;
  align-items: center;
}


.main-header__link {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;

  @media (min-width: $desktop) {
    padding: 32px 20px;

    &:hover,
    &:focus {
      color: $base-primary;
    }

    &:hover,
    &:focus {
      color: $base-primary;
    }

    &:active {
      background-color: $base-secondary;
    }

    &:hover path,
    &:focus path,
    &:active path {
      fill: $base-primary;
    }

    &:active path {
      background-color: $base-secondary;
    }
  }
}

.main-header__account {
  grid-area: account;

  span {
    display: none;
    text-transform: uppercase;
    position: relative;

    @media (min-width: $desktop) {
      display: block;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    gap: 8px;
  }
}

.main-header__basket {
  grid-area: basket;

  span {
    display: none;
    text-transform: uppercase;

    @media (min-width: $desktop) {
      display: block;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    gap: 8px;
  }
}

.main-header__nav {
  grid-area: nav;
}

.main-header__text {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    width: 129px;
  }
}
