.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-height: 225px;

  @include list-reset;
  background-color: $base-white;
  position: absolute;
  left: -260px;
  width: 100vw;

  @media (max-width: $tablet - 1px) {
    position: absolute;
    z-index: 2;
  }

  &--closed {
    @media (max-width: $tablet - 1px) {
      display: none;
    }
  }

  &--opened {
    display: flex;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
    background-color: transparent;
    position: static;
    min-height: auto;
    width: auto;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
    gap: 20px;
  }
}
