.pagination {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.pagination__link {
  padding: 12px 16px;
  background-color: $base-white;
  color: $base-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;

  span {
    display: none;

    @media (min-width: $tablet) {
      display: inline-block;
    }
  }

  svg {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &--current {
    color: $base-black;
    font-weight: 600;
    line-height: 24px;
    cursor: default;
  }

  &--prev {
    @media (min-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &--next {
    @media (min-width: $tablet) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &:hover:not(.pagination__link--current),
  &:focus {
    background-color: $alt-primary-lighter;
    color: $base-white;
  }

  &:active:not(.pagination__link--current) {
    background-color: $alt-primary-darker;
    color: $base-white;
  }

  &:hover path,
  &:focus path,
  &:active path,
  &:disabled {
    fill: $base-white;
  }

  &:disabled {
    background-color: $alt-light-grey;
    color: $base-white;
  }
}
