.range__scale-wrapper {
  padding: 10px 0;
  margin-top: 19px;
}

.range__scale {
  position: relative;

  @media (min-width: $tablet) {
    width: 223px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.range__wrapper-inputs {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) and (max-width: $desktop - 1px) {
    width: 223px;
    margin-top: 22px;
  }
}

.range__input {
  width: 118px;
  font: inherit;
  text-align: center;
  background-color: $base-white;
  border: 2px solid $alt-primary-lighter;
  appearance: textfield;
  padding: 6px 10px 6px 10px;
  border-radius: 4px;

  &:placeholder-shown {
    color: $base-grey;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    width: 87px;
    padding: 6px 10px 6px 5px;
  }

  @media (min-width: $desktop) {
    width: 134px;
    padding: 6px 10px 6px 10px;
  }

  &:focus {
    border-color: $alt-primary-darker;
    outline: none;
  }

  &:disabled {
    border-color: $alt-light-grey;
    outline: none;
    color: $base-grey;
  }
}

.range__text {
  color: $base-grey;
  font-size: 26px;
  line-height: 24px;
}
