.slider {
  position: relative;
/*   min-width: 320px; */
  min-height: 656px;

  @media (min-width: $tablet) {
/*     max-width: 768px; */
    min-height: 640px;
  }

  @media (min-width: $desktop) {
/*     max-width: 1440px; */
    min-height: 714px;
  }
}

.slider__list {
  @include list-reset;
  display: flex;
  align-items: center;
  transition: all 1s;
  margin-top: 18px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.slider__item {
  @media (min-width: $tablet) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-rows: 56% 2% 45% 6%;
    grid-template-columns: 51% 49%;
    grid-template-areas:
      ". text"
      ". title"
      ". description"
      ". wrapper";
  }
}

.slider__link {
  @media (min-width: $tablet) {
    position: absolute;
    top: 352px;
  }

  @media (min-width: $desktop) {
    top: 30px;
    left: 65px;
  }
}

.slider__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 100%;
  top: 0;
  z-index: 4;

  &:disabled path {
    fill: $base-grey;
    background: transparent;
  }

  @media (min-width: $tablet) {
    width: 80px;
  }
}

.slider__button--previous {
  left: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }

  @media (min-width: $tablet) {

  }
}

.slider__button--next {
  right: 0;

  &:hover,
  &:focus {
    background: linear-gradient(-90deg, $base-white 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(-90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
  }
}

.slider__text {
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $base-primary;
  text-align: center;
  display: block;
  margin-top: 60px;

  @media (min-width: $desktop) {
    grid-area: text;
    margin: 145px 0 0 0;
    justify-self: self-start;
  }
}

.slider__title {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;
  text-align: center;
  margin-top: 4px;

  @media (min-width: $tablet) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }

  @media (min-width: $desktop) {
    grid-area: title;
    text-align: left;
  }
}

.slider__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 32px;
    margin-top: 16px;
    width: 608px;
  }

  @media (min-width: $desktop) {
    grid-area: description;
    text-align: left;
  }
}

.slider__price {
  line-height: 32px;
  font-size: 20px;
  font-weight: 600;

  &--strikethrough {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: line-through;
    color: $base-primary;
    margin-left: 25px;
  }

  @media (min-width: $tablet) {
    margin-left: 0;
  }
}

.slider__order-link {
  margin-left: 14px;

  @media (min-width: $desktop) {
    margin-left: 16px;
  }
}

.slider__price-order-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 6px;

  @media (min-width: $tablet) {
    margin-left: 0;
  }

  @media (min-width: $desktop) {
    grid-area: wrapper;
  }
}

.slider__wrapper {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    column-gap: 8px;
    position: absolute;
    bottom: 70px;
    left: 43%;
  }
}

.slider__dot {
  width: 62px;
  height: 4px;
  background-color: $base-white;

  &--active {
    background-color: $base-primary;
  }
}
